/* Style the navigation bar */
.navbar {
    position: absolute;
    width: 1168px;
    height: 80px;
    left: 272px;
    top: 0px;
    background: #FFFFFF;
  }
  
  /* Navbar links */
  .navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Navbar links on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }
  
  /* Current/active navbar link */
  .heading3 {
    width: 103px;
    height: 32px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  /* Add responsiveness - will automatically display the navbar vertically instead of horizontally on screens less than 500 pixels */
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

.frame72{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    width: 103px;
    height: 32px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame73{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 103px;
    height: 32px;
    left: 24px;
    top: 24px;
}

.frame68{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    left: 91.78%;
    right: 2.05%;
    top: 25%;
    bottom: 25%;
}

.avatar{
    width: 40px;
height: 40px;
flex: none;
order: 0;
flex-grow: 0;
}

.dropdown{
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
    position: absolute;
    left: 105%;
    right: 25%;
    top: 20%;
    bottom: 37.5%;
}

.dbell-off{
    position: absolute;
    left: 87.67%;
    right: 10.27%;
    top: 35%;
    bottom: 35%;
}

.dbell{
    position: absolute;
    left: 14.73%;
    right: 14.74%;
    top: 8.33%;
    bottom: 8.33%;
    border: 2px solid #757575;
}


/* header */
.frame1743{
  position: absolute;
  width: 1120px;
  height: 120px;
  left: 296px;
  top: 104px;
  background: #FFFFFF;
  border: 1px solid #D0D5DD;
  border-radius: 8px;
}

#welcome{
  position: absolute;
  width: 282px;
  height: 32px;
  top: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.02em;
  color: #000000;
}

#welcomenote{
  position: absolute;
  width: 849px;
  height: 48px;
  left: 16px;
  top: 54px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
  text-align: justify;
}
#link{
  color: red;
}

.group1770{
  
  width: 167px;
  height: 179px;
  left: 889px;
  top: -30px;
}

#ellipse1{
  position: absolute;
  width: 20px;
  height: 20px;
  top: 71px;
  left: 994px;
  opacity: 0.2px;
  color: #33074F;  
}

#ellipse2{
  position: absolute;
  color: #BC006D;
  width: 20px;
  height: 20px;
  top: 26px;
  left: 889px;
  opacity: 0.2px;
}

#ellipse3{
  position: absolute;
  color: #BC006D;
  width: 30px;
  height: 30px;
  top: 39px;
  left: 1026px;
  opacity: 0.2px;
}

#ellipse4{
  position: absolute;
  color: #BC006D;
  width: 66px;
  height: 40px;
  top: 79px;
  left: 895px;
  opacity: 0.2px;
}
  

#ellipse5{
  position: absolute;
  color: #33074F;
  width: 70px;
  height: 45px;
  top: -0px;
  left: 956px;
  opacity: 0.2px;
}

.close{
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1080px;
  top: 10px;
}

#closeicon{
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
}